body {
margin: 0;
padding: 0;
background-color: #2faa75;
font-size: 15px;
font-family: 'vollkorn', serif;
font-weight: 400;
letter-spacing: 0.03em;
line-height:1.55em;
}

p{
	letter-spacing: 0.03em;
	line-height: 1.55em;
	margin: 0;

}

h1, h2, h3, h4, h5, h6{ 
   font-weight: 700;
   padding: 0;
   margin: 0;
   line-height: 1.4em;
 }

.container { 
width: 1200px;
margin: 0 auto;
 /*  border: 1px solid red; */
}

header{
	padding: 60px;
}

.header-content{
	display: flex;
	justify-content: space-between;
    margin-right: 25%;
}

.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 20%;
	margin-bottom: 5%;
}

.place{
	font-size: 18px;
	margin-bottom: 21px;
	margin-top: 21px;	
}
.offer{
	margin-bottom: 40px;
	margin-top: 21px;

}

.offer-title {
	font-size: 45px;
  }

.desc { 
font-style: 	18px;
margin-bottom: 21px;
margin-top: 21px;
}

.btn {
    color: #fff;
	background: #cbffcc;
	font-style: 0;
    color: black;
    padding: 6px 10px;
    font-weight: 700;
}

.btn: hoover{ 
	background: #c7b1b8;
 }
.btn: active{ 
	background: #de91d0;
 }

 .intro{
 	background: #c7b1b8;
    border-bottom: 2px;
 	padding: 10px;
 	width: 238px;   
 	margin-block: 10px;  
 }

.intro-title{
	font-weight: 700;
	margin-bottom: 17px;
}

.bali-amg{
    margin-top: 3%;
}
div .img{   
    background-image: url("https://i.pinimg.com/564x/01/7d/4f/017d4f5f006f9bcdd35a10346c8ed59f.jpg");
}
